[mysqld]
default-authentication-plugin=mysql_native_password
innodb_buffer_pool_size=4G
innodb_flush_method = O_DSYNC
innodb_flush_log_at_trx_commit = 1
sql_mode="TRADITIONAL"
max_connections = 50
skip-name-resolve
sync_binlog=0
log-bin
max_binlog_size = 512M
binlog_expire_logs_seconds = 259200

